body {
  font-family: 'Roboto', sans-serif;
}

table, th, td {
  border: 1px solid black;
}

button {
  width: 100px;
  height: 30px;
  background: mediumaquamarine;
  border: none;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background: darkgrey;
  cursor: pointer;
}

.question {
  margin: 50px 0;
}

.code {
  font-family: monospace;
  background: lightgrey;
  margin: 0 0 0 10px;
  width: 700px;
}

.bold {
  font-weight: 600;
}